<div class="govuk-alpha-label">
  <p>
    <strong class="phase-tag">Alpha</strong>
    <span>
      <% if local_assigns.include?(:message) %>
        <%= raw message %>
      <% else %>
        This part of GOV.UK is being built &ndash; <a href="/service-manual/phases/ideal-alphas">find out what this means</a>
      <% end %>
    </span>
  </p>
</div>
