{% extends "idsk_template.html" %}

{% block page_title %}This is a custom page title{% endblock page_title %}

{% block head %}<inserted-into-head></inserted-into-head>{% endblock head %}

{% block body_classes %}custom_body_class{% endblock body_classes %}

{% block body_start %}<inserted-into-body-start></inserted-into-body-start>{% endblock body_start %}

{% block cookie_message %}Custom cookie message{% endblock cookie_message %}

{% block header_class %}custom_header_class{% endblock header_class %}

{% block inside_header %}<inside-header></inside-header>{% endblock inside_header %}

{% block proposition_header %}<proposition-header></proposition-header>{% endblock proposition_header %}

{% block after_header %}<after-header></after-header>{% endblock after_header %}

{% block content %}The page content{% endblock content %}

{% block footer_top %}<footer-top></footer-top>{% endblock footer_top %}

{% block footer_support_links %}<footer-support-links></footer-support-links>{% endblock footer_support_links %}

{% block licence_message %}Custom license message text{% endblock licence_message %}

{% block body_end %}<body-end></body-end>{% endblock body_end %}
