/* New Greys */
$grey-0: #0b0c0c;
$grey-1: #171819;
$grey-2: #2e3133;
$grey-3: #454a4c;
$grey-4: #5c6366;
$grey-5: #8a9499;
$grey-6: #a1acb2;
$grey-7: #b8c6cc;
$grey-8: #DEE0E2;
$grey-9: #eaedef;

// Semantic colour names
$text-colour: $grey-0;
$link-colour: #2e3191;
$link-active-colour: #2e8aca;
$link-hover-colour: #2e8aca;
$link-visited-colour: #2e3191;

// Pure greys
$black: $grey-0;
$true-black: #000; // you should have a really good reason for using this
