{% extends "idsk_template.html" %}

{% block page_title %}This is a custom page title{% endblock %}

{% block head %}<inserted-into-head></inserted-into-head>{% endblock %}

{% block body_classes %}custom_body_class{% endblock %}

{% block body_start %}<inserted-into-body-start></inserted-into-body-start>{% endblock %}

{% block cookie_message %}Custom cookie message{% endblock %}

{% block header_class %}custom_header_class{% endblock %}

{% block inside_header %}<inside-header></inside-header>{% endblock %}

{% block proposition_header %}<proposition-header></proposition-header>{% endblock %}

{% block after_header %}<after-header></after-header>{% endblock %}

{% block content %}The page content{% endblock %}

{% block footer_top %}<footer-top></footer-top>{% endblock %}

{% block footer_support_links %}<footer-support-links></footer-support-links>{% endblock %}

{% block licence_message %}Custom license message text{% endblock %}

{% block body_end %}<body-end></body-end>{% endblock %}
